extends ../layouts/default.pug

block variables
    -var pageTitle='Главная'

block content
    .page
        .visual-content
            .visual-main
                canvas#main
                .target
            .visual-sub
                canvas#sub
                #awaitResult
        .data-content
            .data-item
                .data-name Прогресс
                .data-value#progress
                .data-visual#progress-visual
            .data-item
                .data-name Суммарная ошибка за итерацию
                .data-value#error
            .data-item
                .data-name Суммарная ошибка за эру (1000 итераций)
                .data-value#errorsEra
        .img-content
            .img-block-wrapper
                .img-block(data-learn)
                    .img-item
                        img(src="./images/base/mono.png", alt="")
                    .img-item
                        img(src="./images/base/color.png", alt="")
            .img-block-wrapper
                .img-block(data-read)
                    .img-item
                        img(src="./images/1x.jpg", alt="")
                    .img-item
                        img(src="./images/mountains.jpg", alt="")
                    .img-item
                        img(src="./images/girl.jpg", alt="")
                    .img-item
                        img(src="./images/sity.jpeg", alt="")
                    .img-item
                        img(src="./images/cat.jpeg", alt="")
                    .img-item
                        img(src="./images/test.png", alt="")
        .controls-content
            .controls-item.row2
                form.controls-form(action="")#learn
                    .controls-field
                        label.controls-label(for="inpt-0") Библиотека для обучения
                        input.controls-input#inpt-0(value="./images/base/color.png" name='url_data')
                    .controls-field
                        label.controls-label(for="inpt-1") Количество итераций
                        input.controls-input#inpt-1(value=10000 name='count')
                    button(type=submit).controls-but Обучать нейросеть
            .controls-item.row4
                form.controls-form(action="")#read
                    .controls-field
                        label.controls-label(for="inpt-2") Url картинки
                        input.controls-input#inpt-2(value="./images/sity.jpeg" name='url')
                    .controls-field
                        label.controls-label(for="inpt-3") Длина линии
                        input.controls-input#inpt-3(value="1" name='delta')
                    .controls-field
                        label.controls-label(for="inpt-4") Порог рисования ( % )
                        input.controls-input#inpt-4(value="80" name='limit')
                    button(type=submit).controls-but Обработать картинку
            .controls-item
                button.controls-but#pause.disabled Приостановить
            .controls-item
                button.controls-but#stop.disabled Остановить
            .controls-item
                a.controls-but#download Скачать базу весов
        .visual-content
            .visual-main
                canvas#result


